<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='gethistorias.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Historias</title>
    </head>
    <body>
      <div class="container">
        {% for item in result %}
          <div class="item">
            <p>Descrição: {{ item.descricao or 'Nenhuma descrição disponível' }}</p>
            <p>ID: {{ item.id }}</p>
          </div>
        {% endfor %}
      </div>
    </body>
</html>